<div class="ekart--header">
    <div class="ekart-logo">
        <!-- <img src="assets/Amazon-Logo.png"> -->
        eKart
    </div>
    <div class="ekart--header--nav">
        <header-top-menu></header-top-menu>
        <div class="ekart--bottom--bar">
            <header-main-menu></header-main-menu>
            <div class="ekart--search-bar">
                <input type="text" class="ekart-search-box" placeholder="Search">
                <button class="ekart--search--btn">
                    <i class="fa fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>

    </div>
</div>